.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgba(39, 0, 58, 0.925);
}

.navbar-logo{
    justify-self: start;
    margin-left: 25px;
    color: white;
    margin-top: 4vh;
    cursor: pointer;
    font-size: 30px;
}

.navbar a{
    text-decoration: none;
}

.seeCarrito{
    font-size: 30px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor:pointer;
    text-decoration: none;
}

.cart-items{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    padding: 5px;
    top: 50px;
    right: 14px;
    position: absolute;
}